*~
bash_profile
*.rte
*.elc

dotfiles/emacs.d/.lsp-session-v1
dotfiles/emacs.d/ac-comphist.dat
dotfiles/emacs.d/ac-dict
dotfiles/emacs.d/ede-projects
dotfiles/emacs.d/ede-projects.el
dotfiles/emacs.d/eln-cache
dotfiles/emacs.d/elpa
dotfiles/emacs.d/org-roam.db
dotfiles/emacs.d/projectile-bookmarks.eld
dotfiles/emacs.d/recentf
dotfiles/emacs.d/session*
dotfiles/emacs.d/srecode-map.el
dotfiles/emacs.d/semanticdb
dotfiles/emacs.d/*.desktop
dotfiles/emacs.d/tramp
dotfiles/emacs.d/transient
dotfiles/emacs.d/tree-sitter