[submodule "emacs.d/emacs-clang-complete-async"]
	path = emacs.d/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "emacs.d/ack-and-a-half"]
	path = emacs.d/ack-and-a-half
	url = https://github.com/mgalgs/ack-and-a-half
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "git.d/git-number"]
	path = git.d/git-number
	url = https://github.com/holygeek/git-number.git
[submodule "emacs.d/highlight-indentation"]
	path = emacs.d/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
