[submodule "emacs.d/egg"]
	path = emacs.d/egg
	url = https://github.com/bogolisk/egg.git
[submodule "emacs.d/highlight-indentation"]
	path = emacs.d/highlight-indentation
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "emacs.d/auto-complete"]
	path = emacs.d/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "emacs.d/emacs-clang-complete-async"]
	path = emacs.d/emacs-clang-complete-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "emacs.d/popup"]
	path = emacs.d/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "emacs.d/ack-and-a-half"]
	path = emacs.d/ack-and-a-half
	url = https://github.com/jhelwig/ack-and-a-half.git
[submodule "emacs.d/cedet"]
	path = emacs.d/cedet
	url = https://github.com/emacsmirror/cedet
[submodule "emacs.d/coffee-mode"]
	path = emacs.d/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
